<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
 
     <!-- Site Metas -->
    <title>电控组</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../static/image/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/css/custom.css">
	<script src="../static/js/js/modernizr.js"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>

    
<body id="page-top" class="politics_version">

	

    <div id="about" class="section lb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="margin:0 10% 0 10%">
                    <div class="message-box">                        
                        <h2>电控组简介</h2>
                        <h3 style="color:black;"> 电控主要分为嵌入式软件和电子电路硬件,我们的主要任务就是让机械设计好的车
                            按照自己的想法动起来、设计电路板,焊电路板,修电路板。写代码 bug,改代码 bug
                            (这个过程遵循 bug 的转移定律,改一个 bug 会出现另一个新 bug,哈哈哈开玩笑
                            的)。</h3>
                            <h3  style="color:black;">然而...车并不总是按照自己的想法动。你可能会在干活时,听到有人喊“云台又疯了,
                                底盘又开始转圈了,停不下来了,快帮我关电”、“电机冒烟了,板子好像也烧了”...这也
                                蛮真实的,此时我们就需要静下心来解决这些问题了。电控组成员还可以给机械老哥提
                                要求哦,“不行,我的板子得找地方固定好。这个东西要放在这,线是这样接的,记得
                                给我留走线的地方啊”。电控组成员可能最后也能熟练使用扳手拆装车,因为一不小心
                                哪个东西坏了(不好意思,你压的线头掉了),你就得拆,因为拆的次数太多了,都不
                                好意思麻烦机械老哥了,然后...自己动手,丰衣足食呗(都是机械的锅)。电控组一件
                                平时挺重要的事就是物资管理,整理线材,采购元件。不然就是在焊电路板时发现,这
                                个电容没了,那个芯片没了,没有完整的电路板啥也干不了,我们好惨啊。
                                <img src="../static/image/6.png" class="img-fluid img-rounded"> </h3>
                       
                        <h3  style="color:black;">辛苦归辛苦,当亲眼看着手里的机器人动起来,上赛场拼杀的时候,那可是满满的成就感啊!</h3>

                        <img src="../static/image/eletronic_2.png" width="100%">
						
                            <p>帅气学长在焊板子</p>
                            <img src="../static/image/eletronic_3.png"width="40%">
                            <img src="../static/image/eletronic_4.png" width="50%">
                            <p>帅气学长正在调试代码</p>                            
                            <img src="../static/image/5.png" width="100%">

                            
                        <div>
                            <div style="margin:10px 0 0 0; float:right;">
                                <a href="http://www.nwpuwmj.com/"target="blank" class="sim-btn hvr-rectangle-out"><span>返回</span></a>
                               </div> 
                               <div style="margin:10px 0 0 0; float:left;">
                                <a href="http://www.nwpuwmj.com/#contact"target="blank" class="sim-btn hvr-rectangle-out"><span>加入电控组</span></a>
                               </div> 
                        </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
</body>
</html>
