<!doctype html>
<html class="no-js" lang="en">
<head>
<!-- META -->
<meta charset="utf-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SITE TITLE -->
<title>WMJ战队</title>


<!-- FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico">


<!-- STYLE -->
<link rel="stylesheet" href="static/css/style.css">

<!--[if lt IE 9]>
	<script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script> <![endif]-->

</head>
<body>

	<a href='lottery'></a>
<!-- PRELOADER-->
<div id="preloader">
	<div class="clock"></div>
</div>
<!-- WRAPPER -->
<section class="wrapper" id="container">
	<!-- START HEADER SECTION -->
	<header class="header-section">
		<nav class="navbar navbar-default">
			<div class="container">
			<ul class="nav navbar-nav mobile-logo" id="">
				<li class="logo"><a class="navbar-brand" href="index.html"><span>WMJ</span></a></li>
			</ul><!-- end of /.menu item -->

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav" id="top-menu">
						<li><a href="#service">基地介绍</a></li>
						<li><a href="#work">基地生活</a></li>
						<li class="logo"><a class="navbar-brand" href="index.html"><span>WMJ</span></a></li>
						<li><a href="#about">新闻公告</a></li>
						<li><a href="#contact">加入战队</a></li>
					</ul><!-- end of /.menu item -->
				</div><!--end of /.navbar-collapse -->
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
					</button><!-- end of sticky button -->
					<!--<a class="navbar-brand" href="index.html">Asbe</a>--><!-- end of /. logo title -->
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left" id="top-menu"> 
					</ul><!-- end of /.menu item -->
				</div><!--end of /.navbar-collapse -->
			</div><!--end of /.container-fluid -->
		</nav><!-- end of /. navbar -->
	</header><!-- end of /. header section -->


	<!-- START HEADER SECTION -->
	<header class="cover-section" id="home">
		<div class="container-fluid">
			<div class="row">
				<div class="counter-box wow fadeInDown animated col-md-12">
					
					
					
					<h2 style="font-family:Arial">
						<br/>ROBOMASTER
					</h2>
					<h2 style="font-family:Arial">
						WMJ战队
					</h2>
						
				</div>
			</div><!-- end /. row-->
		</div><!-- end of /.container fluid -->
	</header><!-- end of /. header section -->

	<!-- START ABOUT SECTION -->
	<section class="service-section" id="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h2>基地介绍</h2>
					</div>
				</div>
			</div>
			<h2 style="color:black;">西工大RoboMaster WMJ战队成立于2016年，第一批成员来自舞蹈机器人基地、航模队、智能车等创新基地，与工程实践训练中心和舞蹈机器人基地等有密切的合作关系。在校团委、教务处、工程实践训练中心、研工部及各学院的指导和大力支持下，战队为大学生进行科技创新活动提供了有力的平台，致力于培养高素质创新、创业人才，提高本科生创新及工程技术能力。现包括机械、视觉、电控、运营四个小组。</h2>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6">
					 <div class="service-item  wow fadeInDown animated">
						<a href="mechanic">
							<div class="service-icon">
								<img src="static/images/logo-mechanic.png" width="71" height="71" alt="" ></img>
							</div> 
							<h2>机械组</h2><!-- about title -->
						</a>
						<p>机械组负责机器人的结构设计与组装，搭建机器人骨架。通过SolidWorks等三维建模分析软件进行零件绘制，设计结构稳定，功能完备的机器人。
							<br/>要求：
							1.对机械设计和robomaster有兴趣
							2.有一定SolidWorks基础优先考虑
							3.有足够的自学能力</p>
					 </div><!-- end of /.about item 1-->
				</div><!-- end of /.coloumn -->

				<div class="col-lg-3 col-md-3 col-sm-6">
					 <div class="service-item  wow fadeInDown animated">
						<a href="vision">
							<div class="service-icon">
								<img src="static/images/logo-vi.png" width="71" height="71" alt="" ></img>
							</div>
							<h2>视觉组</h2><!-- about title -->
						</a>						
						<p>视觉组负责机器人的顶层程序设计，为机器人注入灵魂。综合运用机器人视觉与人工智能，对于赛场上复杂的环境建立模型，力求以最好的鲁棒性、最高的精确度、最快的反应速度痛击对手。
							<br/>要求：
							1.自学与独立解决问题的能力
							2.对于计算机与robomaster有兴趣
							3.熟练运用c++、Linux的同学优先考虑</p>
					 </div><!-- end of /.about item 2-->
				</div><!-- end of /.coloumn -->

				<div class="col-lg-3 col-md-3 col-sm-6">
					 <div class="service-item  wow fadeInDown animated">
						<a href="electronic">
							<div class="service-icon">
								<img src="static/images/logo-electronic.png" width="71" height="71" alt="" ></img>
							</div>
							<h2>电控组</h2><!-- about title -->
						</a>
						<p>电控组主要负责机器人的嵌入式代码编写和硬件设计及维护，涵盖传感器数据融合、机器人自动控制算法、多机通信等，保证比赛场上机器人基本运动的正常运转。
							<br/>要求：
							1.有一定的电路、c语言基础，对嵌入式系统组成有一定了解
							2.有较强的自学能力、能独立思考和解决问题
							3.对ROBOMASTER感兴趣
							4.会电路设计以及单片机代码编写的同学优先考虑</p>
					 </div><!-- end of /.about item 3-->
				</div><!-- end of /.coloumn -->

				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="service-item  wow fadeInDown animated">
						<a href="operation">
							<div class="service-icon">
							<img src="static/images/logo-op.png" width="71" height="71" alt="" ></img>
							</div>
							<h2>运营组</h2><!-- about title -->
						</a>
						<p>运营组负责战队的宣传、招商、运营等，是战队中不可或缺的重要组成部分。运营组的工作与其他组相差较多。宣传部分负责有推文、视频等新媒体宣传手段。招商则负责拉赞助等工作。同时运营组现在正积极开发其他方面的业务，如网站制作等。</p>
						</div><!-- end of /.about item 2-->
				</div><!-- end of /.coloumn -->

			</div><!-- end of /row. -->
		</div><!-- end of /.container -->
	</section><!-- end of /.services section -->



	<!-- START ABOUT SECTION -->
	
	<section class="works-section" id="work">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h2>基地生活</h2>
					</div>
				</div>
			</div>
			<!-- 照片墙，多个div是一张图片 -->
			<div class="row">
				<div id="works" class="owl-carousel owl-theme col-sm-12 gallery">
					<div class="item works-item">
						<img src="static/images/vi.jpg" width="350" height="350" alt="">
						<div class="overlay">
							<a href="static/images/medal.jpg" data-gal="prettyPhoto[gallery2]">
								<i class="pe-7s-search"></i>
							</a>
							<a href="#">
								<i class="pe-7s-link"></i>
							</a>
						</div>
					</div><!-- end of /.works item 1 -->
					<div class="item works-item">
						<img src="static/images/medal.jpg" width="350" height="350" alt="">
						<div class="overlay">
							<a href="static/images/medal.jpg" data-gal="prettyPhoto[gallery2]">
								<i class="pe-7s-search"></i>
							</a>
							<a href="#">
								<i class="pe-7s-link"></i>
							</a>
						</div>
					</div><!-- end of /.works item 1 -->
					<div class="item works-item">
						<img src="static/images/team.jpg" width="350" height="350" alt="">
						<div class="overlay">
							<a href="static/images/medal.jpg" data-gal="prettyPhoto[gallery2]">
								<i class="pe-7s-search"></i>
							</a>
							<a href="#">
								<i class="pe-7s-link"></i>
							</a>
						</div>
					</div><!-- end of /.works item 1 -->
					<div class="item works-item">
						<img src="static/images/op.jpg" width="350" height="350" alt="">
						<div class="overlay">
							<a href="static/images/medal.jpg" data-gal="prettyPhoto[gallery2]">
								<i class="pe-7s-search"></i>
							</a>
							<a href="#">
								<i class="pe-7s-link"></i>
							</a>
						</div>
					</div><!-- end of /.works item 1 -->
					<div class="item works-item">
						<img src="static/images/zhang.jpg" width="350" height="350" alt="">
						<div class="overlay">
							<a href="static/images/medal.jpg" data-gal="prettyPhoto[gallery2]">
								<i class="pe-7s-search"></i>
							</a>
							<a href="#">
								<i class="pe-7s-link"></i>
							</a>
						</div>
					</div><!-- end of /.works item 1 -->

				</div><!-- end of /.clientiten box  -->
				<div class="customNavigation works-navigation">
					<a class="btn-work works-prev"><i class="pe-7s-angle-left"></i></a>
					<a class="btn-work works-next"><i class="pe-7s-angle-right"></i></a>
				</div><!-- end of /.client navigation -->
			</div><!-- end of /row. -->
		</div><!-- end of /.container -->
	</section><!-- end of /.works section -->

		<!-- START ABOUT SECTION -->
		<section class="works-about" id="about">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-title">
							<h2>新闻公告</h2>
						</div>
					</div>
				</div>
				<h2 style="color:black; font-size: 30px;"><br/>
					<a href="https://www.robomaster.com/zh-CN">ROBOMASTER官网</a><br/>
				<a href="https://www.robomaster.com/zh-CN/resource/video?type=live-replay&videoUrl=&zoneType=final">总决赛回放</a>
					<br/><br/><br/>
				</h2>
	
		</section><!-- end of /.works section -->
	
	

	
	<!-- START CONTACT SECTION -->
	<section class="contact-section" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h2>加入战队</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="row">
						<form class="form-horizontal" action="/submit" method='post'>

							<div class="col-sm-6">
								<div class="input-group name-input wow fadeInDown animated">
									<input style="color: white;" type=text" class="form-control" id="name" placeholder="姓名" name="name">
						
									<div class="input-group-addon">
										<i class="pe-7s-users"></i>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="input-group name-input wow fadeInDown animated">
									<input style="color: white;" type="text" class="form-control" id="name" placeholder="学号" name="no">
						
									<div class="input-group-addon">
										<i class="pe-7s-users"></i>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="input-group wow fadeInDown animated">
									<input style="color: white;" type="text" class="form-control" id="subject" placeholder="学院或大类" name="academy">
									<div class="input-group-addon">
										<i class="pe-7s-paperclip"></i>
									</div>
								</div>
							</div>
 
							<div class="col-sm-6">
								<div class="input-group wow fadeInDown animated">
									<input style="color: white;"type="text" class="form-control" id="subject" placeholder="意向组别(机械组、电控组、视觉组、运营组)" name="group">
									<div class="input-group-addon">
										<i class="pe-7s-paperclip">
										</i>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="input-group wow fadeInDown animated">
									<input style="color: white;" type="text" class="form-control" id="message-email" placeholder="邮箱" name="email">
									<div class="input-group-addon">
										<i class="pe-7s-mail"></i>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="input-group wow fadeInDown animated">
									<input style="color: white;" type="text" class="form-control" id="message-email" placeholder="电话" name="phone">
									<div class="input-group-addon">
										<i class="pe-7s-mail"></i>
									</div>
								</div>
							</div>
							
							<div class="col-sm-12">
								<div class="input-group textarea-group wow fadeInDown animated">
									<textarea style="color: white;" class="form-control message" rows="7" placeholder="曾获奖项、实践项目或者相关特长" name="price"></textarea>
								</div>
							</div>
							<div class="col-sm-12 contact-submit wow fadeInDown animated">
								<div class="contact-btn">
									<input type="submit" class="message-btn" onclick="alert('报名表上传成功')" style="font-family:Arial" value="提交"/>
								</div>
							</div>
						</form><!-- end of/. form -->

					</div>
				</div>
			</div>
		</div><!-- end of /.container -->
	</section><!-- end of /.contact section -->

	<!-- START FOOTER SECTION -->
	<footer class="copyright-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright-area">Copyright &copy; 2020.西北工业大学 WMJ战队 All rights reserved.</p>
					
				</div>
			</div><!-- end of /.row -->
		</div><!-- end of /.container -->
	</footer><!-- end of/. copyright section -->
</section><!-- end of /.wrapper section -->

<!-- JQUERY LIB -->
<script src="static/js/vendor/jquery-1.11.2.min.js"></script>
<!-- BOOTSTRAP -->
<script src="static/js/vendor/bootstrap.min.js"></script>
<!-- OWL CAROUSEL -->
<script src="static/js/owl.carousel.min.js"></script>
<!-- RAIN SCRIPT -->
<!--<script src="js/rainyday.min.js"></script>    -->
<!-- SMOTH SCROLL -->
<script src="static/js/smoth-scroll.js"></script>
<!-- JQUERY COUNTER -->
<script src="static/js/jquery.downCount.js"></script>
<!-- WOW JS  -->
<script src="static/js/wow.min.js"></script>
<script src="static/js/jquery.prettyPhoto.js"></script>
<!-- CUSTOM JS-->
<script src="static/js/custom.js"></script>
</body>
</html>
