<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
 
     <!-- Site Metas -->
    <title>机械组</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/image/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/css/custom.css">
	<script src="../static/js/js/modernizr.js"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

	

    <div id="about" class="section lb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"style="margin:0 10% 0 10%">
                    <div class="message-box">                        
                        <h2>机械组简介</h2>
                        <h3  style="color:black;"> 机械组是基地不可缺少的重要组成部分,机械组的主要工作是根据比赛规则与对策设计或
                            者改进不同要求的车,从建模改进到下单装配,我们都要全权负责,也就是说我们的设计会
                            直接影响车的性能与颜值。</h3>
                        <img src="../static/image/mechanic1.png" class="img-fluid img-rounded">
                        <h3  style="color:black;">画图设计中 在众多工作中,最搞心态的便是装配这一环节,你会见识到各种离谱的店家,
                            各种误差的零件,各种各样的干涉问题。成功渡劫后交给视觉与电控组进行调试。</h3>
                        <img src="../static/image/mechanic2.png" class="img-fluid img-rounded">
						<h3  style="color:black;">在调试过程中,机械组也要随时对车进行维修保养,并记录问题方便改进。当你走完整个流
                            程,会经历各种各样的困难,会遇到各种莫名其妙的问题,但是当你看到自己的想法变为现
                            实,自己的设计达到预期,你会觉得所有的付出与汗水是值得的!</h3>
                            <img src="../static/image/mechanic3.png"width="100%">

                            <div style="margin:10px 0 0 0; float:right;"">
                                <a href="http://www.nwpuwmj.com/"target="blank" class="sim-btn hvr-rectangle-out"><span>返回</span></a>
                               </div> 
                               <div style="margin:10px 0 0 0; float:left;">
                                <a href="http://www.nwpuwmj.com/#contact"target="blank" class="sim-btn hvr-rectangle-out"><span>加入机械组</span></a>
                               </div> 
                    </div><!-- end messagebox -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
</body>
</html>
