<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
 
     <!-- Site Metas -->
    <title>运营组</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/image/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/css/custom.css">
	<script src="../static/js/js/modernizr.js"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version">

	

    <div id="about" class="section lb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="margin:0 10% 0 10%">
                    <div class="message-box">                        
                        <h2>运营组简介</h2>
                        <h3 style="color:black;"> 西北工业大学 wmj 战队运营组负责战队的宣传,招商,运营等,是战队中不可或缺的重要
                            组成部分。运营组的工作与其他组相差较多,有宣传部分和招商部分。宣传部分负责有推文,
                            视频等新媒体宣传手段。招商则负责拉赞助等工作。同时现在运营组正在积极开发其他方面
			    的业务,如网站制作等。</h3>
                        
                        <p>AE PR 视频制作</p>
                        <img src="../static/image/operation1.png" class="img-fluid img-rounded">
                        <p>海报制作</p>
                        <img src="../static/image/operation2.png" class="img-fluid img-rounded">
                        <p>推文运营</p>
                        <img src="../static/image/operation3.png" class="img-fluid img-rounded">
                        <img src="../static/image/operation4.png" class="img-fluid img-rounded">
                        

                        <div style="margin:10px 0 0 0; float:right;"">
                            <a href="http://www.nwpuwmj.com/"target="blank" class="sim-btn hvr-rectangle-out"><span>返回</span></a>
                           </div> 
                           <div style="margin:10px 0 0 0; float:left;">
                            <a href="http://www.nwpuwmj.com/#contact"target="blank" class="sim-btn hvr-rectangle-out"><span>加入运营组</span></a>
                           </div> 
                    </div><!-- end messagebox -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

</body>
</html>
