<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
 
     <!-- Site Metas -->
    <title>视觉组</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/image/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/css/custom.css">
	<script src="../static/js/js/modernizr.js"></script> <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" class="politics_version"style="margin:0 0 0 0;">

	

    <div id="about" class="section lb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="margin:0 10% 0 10%">
                    <div class="message-box"> 
                                            
                        <h2 >视觉组简介</h2>
                        <p > 说到视觉组,可能很多同学想到的是这个</p>
                        <img src="../static/image/1.png" width="100%">   
                        <p>但其实我们做的不是视觉设计,而是这个--计算机视觉</p>
                        <img src="../static/image/2.png" width="100%">
						<h3>如果看过比赛介绍应该知道,robomaster 是一个通过发射弹丸与敌方进行对抗的比赛.要想
                            击败对手,除了优秀的机器人性能和出色的战术,至关重要的一个方面就是打击的精确度了.
                            单纯依靠操作手的操作是很难击中一台快速移动的机器人的,这时候就需要一些自动化的辅助操作.
                            通过安装在机器人上的摄像头与 PC,我们基于计算机视觉可以实现自动锁定敌方单位,操作
                            手只需按住右键即可一键锁头.如上图所示,通过对摄像头获取到对图像对一系列处理,可以
                            找到敌方机器人的装甲板位置,对此位置进行解算和预测,即可实现对目标的瞄准跟踪.在此
                            之上还可以实现更加高级的功能,比如对于敌方运动方式进行建模、不同机器人之间对敌方
                            位置的共享等.</h3>
                            <p >我们平时做的主要是编写代码逻辑</p>
                            <img src="../static/image/3.png"width="100%">
                            <p>在机器人上调试</p>                            
                            <img src="../static/image/4.png" width="100%">
                            <p >协调其他组的同学一起调试也是很重要的</p>
                            <img src="../static/image/5.png" width="100%">

                       <div style="margin:10px 0 0 0; float:right;"">
                        <a href="http://www.nwpuwmj.com"target="blank" class="sim-btn hvr-rectangle-out"><span>返回</span></a>
                       </div> 
                       <div style="margin:10px 0 0 0; float:left;">
                        <a href="http://www.nwpuwmj.com/#contact"target="blank" class="sim-btn hvr-rectangle-out"><span>加入视觉组</span></a>
                       </div> 
                    </div><!-- end messagebox -->
                </div>
    </div><!-- end col -->

            </div><!-- end row --><!-- end container -->
    </div><!-- end section -->
	
</body>
</html>
